<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NotificationSystem.Emails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NotificationSystem.Emails.Properties.Settings>
            <setting name="FromEmail" serializeAs="String">
                <value>test@test.test</value>
            </setting>
            <setting name="SmtpServer" serializeAs="String">
                <value>mail.authsmtp.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>2525</value>
            </setting>
            <setting name="SmtpOverSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmtpUsername" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="EmailBodyLayout" serializeAs="String">
                <value>&lt;html&gt;
  &lt;body&gt;
    {0}
  &lt;/body&gt;
&lt;/html&gt;</value>
            </setting>
            <setting name="FromName" serializeAs="String">
                <value>Sender Name</value>
            </setting>
        </NotificationSystem.Emails.Properties.Settings>
    </applicationSettings>
</configuration>